
//color
//$header-background  :
$body-background        :#26262D;
$active-background      :#FFE95C;

//text color
$title-color            : #fff;
$text-color-info        : #CCCCCC;
$text-color             :#000000;
$text-color-white       : #fff;

$text-color-primary     : #677897;

//font-size
$font-size-base         : 14px;
$font-size-small        : 12px;
$font-size-large        : 16px;

//border color
$border-color-base      : #dcdee2;
$border-color-active    :$active-background;


//width

$container-width         :1200px;
.a{
  background: red;
}
